MobileApp/Service References/HotelServiceReference/HotelServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFhotell" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFhotell" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service" nillable="true" type="tns:Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService" nillable="true" type="tns:ArrayOfService" />
  <xs:complexType name="Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="roomId" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
</xs:schema>