MobileApp/Service References/HotelServiceReference/HotelServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57372/HotelServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFhotell" />
  <xs:element name="GetServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFhotell" minOccurs="0" name="GetServicesResult" nillable="true" type="q1:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeServiceStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeServiceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeServiceStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>