MobileApp/Service References/HotelServiceReference/HotelServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HotelServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57372/HotelServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57372/HotelServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57372/HotelServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFhotell" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHotelServices_GetServices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServices" />
  </wsdl:message>
  <wsdl:message name="IHotelServices_GetServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServicesResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelServices_ChangeServiceStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeServiceStatus" />
  </wsdl:message>
  <wsdl:message name="IHotelServices_ChangeServiceStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeServiceStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IHotelServices">
    <wsdl:operation name="GetServices">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelServices/GetServices" message="tns:IHotelServices_GetServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelServices/GetServicesResponse" message="tns:IHotelServices_GetServices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeServiceStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelServices/ChangeServiceStatus" message="tns:IHotelServices_ChangeServiceStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelServices/ChangeServiceStatusResponse" message="tns:IHotelServices_ChangeServiceStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="HotelServices" />
</wsdl:definitions>